$colors: (
    primary: #121212,
);

body{
    background: white;
}
.header{
    font: {
        family: cursive;
        size: 13px;
        style: Copperplate;
        weight: 10px;
        color: map-get($colors,primary);
 }
  position: absolute;
  left: 20px;
  top:10px;
}
li{
    list-style-type:none;
    position: relative;
    display: inline;
    margin: 5px;
    font-family: Brandon Text Regular,sans-serif;
}

@mixin cards{
    width: 280px;
    height: 340px;
    position: absolute;
    left: 23px;
    top: 140px;
    z-index: 1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card1{
  @include cards;
  
}
.card2{
  @include cards;
  top: 540px;
}
.card3{
   @include cards;
   top: 940px;
  
}
.card4{
   @include cards;
   top: 1340px;
  
}
.card5{
    @include cards;
    top: 1740px;
}
.card6{
   @include cards;
   top: 2140px;
 }
.card7{
   @include cards;
   top: 2540px;
}
.card8{
  @include cards;
  top: 2940px;
}
.card9{
  @include cards;
  top: 3340px;
 }
.card10{
  @include cards;
  top: 3740px;
 }
 .card11{
  @include cards;
  top: 4140px;
}
.card12{
   @include cards;
   top: 4540px;
 }
.card13{
   @include cards;
   top: 4940px;
 }
.card14{
   @include cards;
   top: 5340px;
 }
 .card15{
   @include cards;
   top: 5740px;
 }
@mixin photo{
    width: 280px;
    height: 280px;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
}
.photo1, .photo2, .photo3, .photo4, 
.photo5, .photo6, .photo7, .photo8, 
.photo9, .photo10, .photo11, .photo12, 
.photo13, .photo14, .photo15{
@include photo;

}

@mixin cards{
@media (min-width: 600px) { 
  @content; 
  width: 230px;
  height: 290px;
  display: inline;
  position: absolute;
  position: absolute;
  top: 140px;
  z-index: 1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

.card1{
  @include cards;
  left: 50px;
}
.card2{
  @include cards;
  left: 300px;
}
.card3{
   @include cards;
   left:550px;
}
.card4{
   @include cards;
   left: 800px;
.card5{
    @include cards;
    left:1050px;
}
.card6{
   @include cards;
   left: 50px;
   top:460px;
 }
.card7{
   @include cards;
   left:300px;
   top:460px;
}
.card8{
  @include cards;
  left:550px;
  top:460px;
}
.card9{
  @include cards;
     left:800px;
     top:460px;
 }
.card10{
  @include cards;
     left:1050px;
     top:460px;
 }
 .card11{
  @include cards;
    left:50px;
    top:780px;
}
.card12{
   @include cards;
     left:300px;
     top:780px;
 }
.card13{
   @include cards;
      left:550px;
      top:780px;
 }
.card14{
   @include cards;
   left:800px;
   top:780px;
 }
 .card15{
   @include cards;
   left:1050px;
   top:780px;
 }
}
}
}
@mixin photo{
  @media (min-width: 600px) { 
    @content; 
      width: 230px;
      height: 230px;
      display: inline;
      position: absolute;
      z-index: 1;
  
  
  .photo1, .photo2, .photo3, .photo4, 
  .photo5, .photo6, .photo7, .photo8, 
  .photo9, .photo10, .photo11, .photo12, 
  .photo13, .photo14, .photo15{
    @include photo;
  
  }
}
}
@mixin card_header {
    font: {
        family: "Ubuntu Condensed", sans-serif;
        size: 14px;
        weight: 700;
    }  
       left:0px;
       position: absolute;
       top: 0px;
       text-align: center;
        
}
.card-header{
    @include card_header;
}
.line{
    @include card_header; 
    font-weight: 20px;
    left: 80px; 
}
.menu{
  position: absolute;
  left: -22px;
  font-size: 16PX;
  color: #121212;
  font-family: Brandon Text Regular,sans-serif;
  top: 67px;
}
.icon{
  position: absolute;
  left: 250px;
  top: 78px;
}
.icon-1{
  position: absolute;
  left: 285px;
  top: 78px;
}
@mixin cross{
  color: #484848;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  font-size: 18px;
  position: relative;
  left: 40%;
  right: 50%;
}
.order{
  @include cross;
}
.login{
  @include cross;
}
.favorite{
  @include cross;
}
.basket{
  @include cross;
}
@mixin popup{
  position: absolute;
  height: 600px;
  z-index: 100;
  top: center;
  position: center;
  left:0px;
  top: 70px;
}
.order-popup{
    @include popup;
}
.login-popup{
    @include popup;
}
.favorite-popup{
  @include popup;
}
.basket-popup{
  @include popup;
}
@mixin close-popup{
  background-color:white;
  border: none; 
  float: right;
  color:#484848;
  font-size:22px;
  padding: 8px 8px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  margin-top: -30px;
}
.order-close-popup{
  @include close-popup;
}
.login-close-popup{
  @include close-popup;
}
.favorite-close-popup{
  @include close-popup;
}
.basket-close-popup{
  @include close-popup;
}
@mixin box{
  backgroundColor: "white";
  padding: "20px";
  width: "400px";
  height: "600px";
}
.userLoginBox{
  @include box;
}
















// .line{
//     @include card_header; 
//     font-weight: 500;
//     left: 80px; 
// }