
.options{
  position: absolute;
  color: #121212;
  font-size: 20px;
  font-family: Brandon Text Regular,sans-serif;
  left: 380px;
  top: 37px;
}
.fabric{
  position: absolute;
  left: 30px;
  font-family: cursive;
  font-size: 30PX;
  font-style: oblique;
  color: #121212;
  font-weight: 10px;
}
.menu{
  position: absolute;
  right: 10px;
  font-size: 16PX;
  color: #121212;
  font-family: Brandon Text Regular,sans-serif;
  top: 27px;
  
}
li{
  list-style-type:none;
  position: relative;
  display: inline;
  margin: 5px;
  font-family: Brandon Text Regular,sans-serif;
}
select{
  font-family: Brandon Text Regular,sans-serif;
  font-size: 16px;
}
.i-card{
  right: 0px;
}
.order-popup {
  position: absolute;
  height: 600px;
  z-index: 100;
  top: center;
  position: center;
  left: 380px;
}
.order-close-popup{
  background-color:white;
  border: none; 
  float: right;
  color:#484848;
  font-size:22px;
  padding: 8px 8px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  margin-top: -12px;
}

.order{
  color: #484848;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  font-size: 18px;
  position: relative;
  left: 40%;
  right: 50%;
} 
.login-popup {
  position: absolute;
  height: 600px;
  z-index: 100;
  top: center;
  position: center;
  left: 380px;
}
.login-close-popup{
  background-color:white;
  border: none; 
  float: right;
  color:#484848;
  font-size:22px;
  padding: 8px 8px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  margin-top: -12px;
}

.login{
  color: #484848;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  font-size: 18px;
  position: relative;
  left: 40%;
  right: 50%;
} 
.filterForm{
  font-family: Brandon Text Regular,sans-serif;
  font-size: 16PX;
}
.photo1{
  position: absolute;
  left: 50px;
  top: 100px;
  width: 250px;
  height: 250px;
}
.photo2{
  position: absolute;
  left: 300px;
  top: 100px;
  width: 250px;
  height: 250px;
}
.photo3{
  position: absolute;
  left:550px;
  top: 100px;
  width: 250px;
  height: 250px;
}
.photo4{
  position: absolute;
  left: 800px;
  top: 100px;
  width: 250px;
  height: 250px;
}
.photo5{
  position: absolute;
  left:1050px;
  top: 100px;
  width: 250px;
  height: 250px;
}
